*.DS_Store
*.env

**/build/static/

**/build/*.js
**/build/*.map
**/build/*.svg
**/build/*.woff
**/build/*.woff2
**/build/*.ttf
**/build/*.png
**/build/*.eot
**/build/*.jpg

backend/temp/**

**/node_modules/
**/pgdata/**
*.rest