.outer-container {
  margin-top: 100px;

  display: flex;
  flex-grow: 1;

  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-style: solid;

  min-height: 300px;
  max-width: 350px;
  padding: 5px;
}

.route-container {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  justify-content: center;
}

.conf-container {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}