.outer-container {
  height: 100vh;

  display: flex;
  justify-content: safe center;
  align-items: safe center;

  overflow-y: scroll;
}

.app-container {
  padding: 5px;
  margin: 10px;

  max-width: 600px;
  min-height: 90vh;

  display: flex;
  flex-grow: 1;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  border-style: solid;
  border-radius: 10px;
}

.body-container {
  display: flex;
  flex-grow: 1;

  justify-content: center;
  align-items: center;
}

.menu-bar-container {
  padding: 10px;

  display: flex;
  flex-direction: row;
  column-gap: 10px;

  justify-content: space-between;
  align-self: stretch;
  align-items: center;

  border-bottom-style: solid;
  margin-bottom: 20px;
}

.menu-bar-left {
  display: flex;
  flex-direction: row;
  column-gap: 5px;

  align-items: center;
}

.generic-flex-column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  min-width: 300px;
}