:root {
  --bottom-buffer: 80px;
  --scroller-height: 90dvh;
}

.outer-container {
  height: 100vh;

  display: flex;
  justify-content: safe center;
  align-items: safe center;

  overflow-y: scroll;
  scrollbar-width: none;

  background-color: white;
}

.app-container-browser, .app-container-mobile {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  max-width: 600px;

  display: flex;
  flex-grow: 1;
  flex-direction: column;

  justify-content: flex-start;

  border-color: black;

  background-color: white;
}

.app-container-browser {
  margin: 10px;
  min-height: 70vh;

  align-items: center;

  border-style: solid;
  border-radius: 10px;
}

.app-container-mobile {
  align-self: flex-start;

  height: 100dvh;

  border-top-style: solid;
  border-width: 15px;
}

.body-container-centered {
  display: flex;
  flex-grow: 1;

  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.body-container-left {
  display: flex;
  flex-grow: 1;

  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
}

.create-stream-container {
  border-top-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.delete-account-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  row-gap: 5px;
}

.expand-body-container {
  padding-top: 15px;
  padding-left: 10px;
}

.expand-box {
  padding: 10px;

  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

.expand-header-container {
  caret-color: transparent;
  display: flex;
  flex-direction: row;
}

.expand-header-container:hover {
  opacity: 70%;
}

.expand-body-container:active {
  background-color: none;
}

.expand-header-text {
  user-select: none;

  align-self: flex-start;
  font-size: large;
  font-weight: bold;
}

.menu-bar-container-flex {
  padding: 10px;

  display: flex;

  flex-direction: row;

  justify-content: center;
  align-self: stretch;
  align-items: center;

  border-bottom-style: solid;
}

.menu-bar-container-grid {  
  padding-top: 10px;
  padding-bottom: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


  flex-direction: row;
  column-gap: 10px;

  justify-content: space-between;
  align-self: stretch;
  align-items: center;

  border-bottom-style: solid;
}

.menu-bar-text {
  justify-self: center;
}

.menu-bar-user-group {
  justify-self: end;
}

.menu-side-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-self: stretch;
}

.menu-slice-container {
  margin-top: 5px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  column-gap: 5px;

  box-shadow: white 0px 10px 20px;

  z-index: 101;
}

.menu-slice-text {
  overflow: hidden;
  white-space: nowrap;

  text-overflow: ellipsis;

  max-width: 25vw;
}

.permission-bubble-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  column-gap: 5px;
  row-gap: 5px;
}

.permission-bubble-yes, .permission-bubble-no {
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;

  padding: 2px;
}

.permission-bubble-yes {
  color: darkgreen;
}

.permission-bubble-no {
  color: lightgray;
}

.refresh-stream {
  position: absolute;
  right: 0px;
}

.settings-container {
  height: var(--scroller-height);
  
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  padding-top: 10px;
  padding-bottom: var(--bottom-buffer);

  overflow-y: scroll;
  scrollbar-width: none;
}

.share-options-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  row-gap: 5px;
}

.slice-button-container {
  display: flex;
  flex-direction: row;
}

.slice-create-container-closed {
  position: absolute;
  bottom: 20px;

  display: flex;
  align-self: center;
  margin-top: 10px;

  z-index: 100;
}

.slice-create-container-open {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;

  padding: 10px;

  box-shadow: white 0px 10px 20px 30px;

  z-index: 100;
}

.slice-create-text-area {
  margin-top: 15px;
  margin-bottom: 5px;
}

.slice-create-title-group {
  row-gap: 5px;
}

.slice-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slice-image {
  border-radius: 10px;
  object-fit: cover;
}

.slice-image-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 10px;
}

.slice-image-container {
  display: flex;
  justify-content: center;
}

.slice-image-container-border {
  display: flex;
  justify-content: center;

  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}

.slice-image-group-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  justify-content: center;
  row-gap: 5px;
}

.slice-image-preview {
  margin-left: 15px;
  margin-top: 5px;
}

.slice-image-size-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.slice-no-search-results{
  margin-left: 10px;
}

.slice-single-column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.slice-single-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  border-style: solid;
  border-radius: 10px;
  border-width: 2px;

  background-color: #FAFAFA;
}

.slice-single-date-text {
  color: grey;
}

.slice-single-row {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.slice-single-time-container {
  margin-left: 10px;

  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.slice-single-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: gray;

  margin-bottom: 5px;
  padding-bottom: 5px;
}

.slice-single-user-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  margin-right: 15px;

  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: darkgray;

  background-color: #E2E2E2;
}

.slice-single-user-button-text {
  font-size: 32px;
}

.slice-scroll-region {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  overflow-y: scroll;
  scrollbar-width: none;

  padding-bottom: 80px;
}

.slice-status-bubble {
  position: absolute;
  top: 30px;
  right: 0px;

  margin: 5px;
  padding: 8px;

  font-size: 12px;
  font-weight: 100;

  opacity: 80%;

  display: flex;
  flex-direction: row;
  align-self: flex-start;

  background-color: black;
  color: white;

  border-radius: 10px;

  z-index: 200;

  caret-color: transparent;
  cursor: pointer;
}

.slice-strand-options {
  display: flex;
  flex-direction: row;
  justify-content: end;

  column-gap: 3px;
}

.slice-tag-solo-container {
  margin-top: 0px;
}

.slice-text-container {
  margin-bottom: 10px;
  white-space: break-spaces;
}

.slice-user-group {
  display: flex;
}

.slice-username-container {
  color: slategray;
  margin-bottom: 10px;
}

.slice-view-container {
  height: var(--scroller-height);

  display: flex;
  flex-direction: column;
}

.strand-header {
  display: flex;
  flex-direction: row;
  justify-content: start;

  border-style: solid;
  border-radius: 10px;
  border-width: 1px;

  padding: 10px;
  margin-right: 10px;
}

.strand-header-exit {
  position: absolute;
  top: 50px;
  right: 0px;

  z-index: 200;
}

.strand-header-name {
  font-size: large;
  font-weight: bold;
}

.stream-info-body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.stream-info-container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
  justify-content: flex-start;

  height: var(--scroller-height);

  overflow-y: scroll;
  scrollbar-width: none;

  padding-bottom: var(--bottom-buffer);
}

.stream-info-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.stream-name-container {
  padding: 5px;
  align-self: stretch;

  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.stream-not-selected, .stream-selected {
  padding-left: 10px;
}

.stream-selected {
  border-left-style: solid;
  color: rgb(85, 112, 149);
}

.streams-container {
  padding-bottom: var(--bottom-buffer);
}

.tag-container {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;

  width: fit-content;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

.tag-group {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.text-opaque {
  color: black;
}

.username-container {
  text-align: end;
}

.ui.button.button-unchange-on-disable:disabled {
  opacity: 1 !important;
}

.ui.header {
  caret-color: transparent;
}

.ui.header.header-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ui.input.stretchy {
  flex-grow: 1;
}

.ui.segment.menu-side-style, 
.ui.sidebar.menu-side-style {
  flex-grow: 1;
  border-style: none;
  border-radius: 0;

  box-shadow: none;

  scrollbar-width: none;
}

.generic-flex-column, .registration-container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  max-width: 350px;
  
  row-gap: 5px;
  margin-bottom: 5px;
}

.registration-container {
  margin-top: 20px;

  height: 80vh;

  overflow-y: scroll;
  scrollbar-width: none;
}
